/* .hijo{
    width: 200px;
    height: 200px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
} */
/* 
.padre{
    position: relative;
    width: 100vw; 
    height: 100vh;
}

.hijo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
/* 
.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    
}
.hijo{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    margin: 8px;
    color: aliceblue;
}

#amigo{
    background-color: brown;
    align-self: flex-end;
    order: 0;
} */

.padre{
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-columns: 25% 20px 25%;
    grid-template-rows: 20px 50%;
    /* grid-template: 50% 50% /    33.33% 33.33% 33.33% ; */
    column-gap: 28px;
    row-gap: 50px;
    grid-template-areas: header header
                         left contenido
                         footer footer ;
}
#amigo{
    grid-column:1 / 3;
    grid-row: 1/2;
}